* {
  margin: 0;
  padding: 0;
  font-family: helvetica;
}

section#banner {
  width: 100%;
  background-image: url('http://zimbby.com/pictures/bg.png');
  background-attachment: contain;
  background-position: center;
  background-repeat: no-repeat;
}

header{
  position: fixed;
  width: 100%;
  height:70px;
  background-color: transparent;
}

nav{
  display: table;
  margin:auto;
  margin-top: 15px;
  height: 40px;
  background-color: green;
}
