* {
  margin: 0;
  padding: 0;
  font-family: helvetica;
}

section#banner {
  width: 100%;
  background-image: url();
  background-attachment: contain;
  background-position: center;
  background-repeat: no-repeat;
}
